@import '../../../scss/variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  > button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 27px;
  }
}
